
{% from "/auth/_formhelpers.html" import render_field %}
<ul class="posts">




  {{ render_field(form.selectchoice) }}


<table>
<tr>
     <th>Trader</th>
    <th>Payment Method</th>

    <th>Location</th>
    <th>Trade Min</th>
     <th>Trade Max</th>


</tr>
    {% for trade in trades %}


<tr>

            <td  width="20%"> {{ trade.person}}</td>
            <td  width="40%">{{ trade.payment_method}}</td>
            <td width="20%">{{ trade.location}}</td>
             <td width="10%">{{ trade.tradelimitmin}}</td>
               <td  width="10%"> {{ trade.tradelimitmax}}</td>


 </tr>

    {% endfor %}
        </table>


</ul>