{% extends "base.html" %}
{% from "/auth/_formhelpers.html" import render_field %}

{% block content %}



<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buysell.css') }}">

<div id="searchbox">
<form method="post"  class="form" role="form">

        <div id="searchboxtopleft">      {{ render_field(form.buyorsell) }}
        </div>


        <div id="searchboxbotleft">     {{ render_field(form.payment_method) }}
            <input class="btn btn-danger" type="submit" value=buyorsell>

        </div>


</form>

</div>
    <br><br><br><br><br><br><br>
    {% include 'main/_viewtrades.html' %}

{% endblock %}