{% extends "base.html" %}
{% from "/auth/_formhelpers.html" import render_field %}

{% block content %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">


      <!-- Listings sidebar End -->
<div id="bannerm">Welcome to Secret Bitcoin!</div>

      <!-- content -->
    <div id="itemscreator">
        <div id="itemscreatorbuttons">
        <a class="btn btn-danger" href="{{ url_for('main.createitem') }}">On</a>

         <a class="btn btn-danger" href="{{ url_for('main.createitem') }}">Off</a>

</div>







  <form method="post"  class="form" role="form">
<div id="itemscreatorbuttons2">

        <input class="btn btn-danger" type="submit" value="Delete">
</div>





        <br><br>
<ul class="posts">

<table>
<tr>
    <th></th>
     <th>Trader</th>
    <th>Payment Method</th>

    <th>Location</th>
    <th>Trade Min</th>
     <th>Trade Max</th>


</tr>
    {% for trade in trades %}


<tr>
            <td  width="5%"> {{ render_field(form.selectbox) }} </td>
            <td  width="20%"> {{ trade.person}}</td>
            <td  width="40%">{{ trade.payment_method}}</td>
            <td width="20%">{{ trade.location}}</td>
             <td width="10%">{{ trade.tradelimitmin}}</td>
               <td  width="10%"> {{ trade.tradelimitmax}}</td>


 </tr>

    {% endfor %}
        </table></ul>
</form>


</div>

{% endblock %}